.sidebar {
  width: 318px;
  height: 840px;
  background: linear-gradient(180deg, #f9f9ff 0%, #ffffff 0%, #f2f1ff 100.05%);
  border-radius: 12px;
  margin-top: 102px;
  position: fixed;
  padding: 38px 18px;
  .avatar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user{
    width: 60%;
  }
  .level{
    text-align: center;
    margin: 30px 0;
  }
}
