.layout{
  max-width: 1366px;
  padding: 0 20px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(180.18deg, rgba(246, 245, 255, 0.5) 0.16%, rgba(240, 240, 255, 0.5) 0.16%, rgba(114, 101, 251, 0.5) 100.57%);
}