* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}

.primary {
  width: 84px;
  height: 50px;
  background-color: #fff !important;
  border: 1px solid #1e1584 !important;
  border-radius: 188.13px;
  transform: rotate(-180deg);
}
.active {
  width: 84px;
  height: 50px;
  background-color: #1e1584 !important;
  border: 1px solid #1e1584 !important;
  border-radius: 188.13px;
}
